# === Interface ===
streamlit

# === LLM & Agent ===
langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.21
langchain-mistralai==0.2.4
mistralai

# === Vector Store ===
faiss-cpu

# === Base de données ===
sqlalchemy

# === Validation ===
pydantic

# === Évaluation ===
ragas==0.1.21
datasets
pysbd
rouge_score
nest-asyncio

# === Traitement fichiers ===
pandas
openpyxl
PyPDF2
pillow

# === Visualisation ===
matplotlib

# === Observabilité ===
logfire[sqlalchemy]

# === Utilitaires ===
python-dotenv
requests
tqdm
